App/.vs/
App/BSHttpClient/bin/
App/BSHttpClient/obj/
App/Common/bin/
App/Common/obj/
App/CommonContract/bin/
App/CommonContract/obj/
App/Contract/bin/
App/Contract/obj/
App/DataServiceUnitTests/bin/
App/DataServiceUnitTests/obj/
App/Db/bin/
App/Db/obj/
App/DbClient/bin/
App/DbClient/obj/
App/Deploy/bin/
App/Deploy/obj/
App/DesktopApp/bin/
App/DesktopApp/obj/
App/FormulaCalc/bin/
App/FormulaCalc/obj/
App/packages/
App/ProjectBranchSelector/bin/
App/ProjectBranchSelector/obj/
App/Service/bin/
App/Service/obj/
App/WebClientTests/bin/
App/WebClientTests/obj/